(ns battleweb.settings)

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;; general section
;;;

(def bw-port "8080")

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;; Database stuff
;;;

(def bw-db-engine   "postgresql")
(def bw-db-host     "localhost")
(def bw-db-port     "5432")
(def bw-db-name     "battleweb")
(def bw-db-user     "battleweb")
(def bw-db-password "battleweb")

; engine = postgresql | mysql     | h2
; port   = 5432       | 3306      | -
; host   = localhost  | localhost | /d:/battleweb
; user   = battlweb   | battleweb | sa

