body {
  font-family: "Trebuchet MS","Verdana","Arial";
}

#wrapper {
  margin: 10px;
}

#item {
  background-color: #333333;
  color: #dddddd;
  width: 300px;
  margin: 10px;
  border: 1px solid #000;
}

#item li {
  list-style: none;
  font-size: small;
}

#item a, #guild a {
  color: #ffffff;
}

#guild {
  background-color: #333333;
  color: #dddddd;
  width: 250px;
  margin: 10px;
  border: 1px solid #000;
}

#realmItems {
  width: 500px;
  margin: 10px;
}

#realmItems li {
  padding: 5px;
  list-style: none;
  font-size: small;
}

.legendary { color: #ff8000; }
.epic { color: #a335ee; }
.rare { color: #0070ff; }
.uncommon { color: #1eff00; }
.common { color: #fff; }
.poor { color: #9d9d9d; }

.item-footer {
  margin-top: 10px;
  text-align: right;
}

.inner {
  margin: 5px;
}

.horde {
  background-color: #833;
  margin-left: -5px;
  margin-right: -5px;
  padding: 3px;
}

.alliance {
  background-color: #235;
  margin-left: -5px;
  margin-right: -5px;
  padding: 3px;
}

.icon {
  float: right;
  margin: 10px:
}

.level {
  float: right;
  padding: 3px;
}
.pop {
  float:right;
}
.item-bonus {
  color: #00ee00;
}
.online {
  background-color: #39e639;
}
.offline {
  background-color: #ff4040;
}

.class-warrior {
  color: #c79c6e";
}
.class-paladin {
  color: #f58cba";
}
.class-hunter {
  color: #abd473";
}
.class-rogue {
  color: #fff569";
}
.class-priest {
  color: #fff";
}
.class-deathknight {
  color: #c41f3b";
}
.class-shaman {
  color: #0070de";
}
.class-mage {
  color: #69ccf0";
}
.class-warlock {
  color: #9482c9";
}
.class-druid {
  color: #ff7d0a";
}

.icon-gold {
  padding-right: 15px;
  background: url("/img/gold.gif") right center no-repeat;
}
.icon-silver {
  padding-right: 15px;
  background: url("/img/silver.gif") right center no-repeat;
}
.icon-copper {
  padding-right: 15px;
  background: url("/img/copper.gif") right center no-repeat;
}